<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jsp.dao.OrderDao">
    <resultMap id="orderMap" type="com.example.jsp.pojo.Order">
        <id property="id" column="o_id" javaType="integer"/>
        <result property="message" column="o_msg" javaType="String"/>
        <result property="status" column="o_status" javaType="integer"/>
        <result property="time" column="o_time" javaType="String"/>
        <association property="store" select="com.example.jsp.dao.StoreDao.selectById" column="o_s_id"
                     javaType="com.example.jsp.pojo.Store"/>
        <association property="deliver" select="com.example.jsp.dao.DeliverDao.selectById" column="o_d_id"
                     javaType="com.example.jsp.pojo.Deliver"/>
        <association property="guest" select="com.example.jsp.dao.GuestDao.selectById" column="o_g_id"
                     javaType="com.example.jsp.pojo.Guest"/>
        <association property="address" select="com.example.jsp.dao.AddressDao.selectById" column="o_a_id"
                     javaType="com.example.jsp.pojo.Address"/>
        <collection property="productPackages" ofType="com.example.jsp.pojo.ProductPackage"
                    select="com.example.jsp.dao.ProductPackageDao.selectByOrderId" column="o_id"/>
        <collection property="orderInfos" select="com.example.jsp.dao.OrderInfoDao.selectByOrderId" column="o_id"
                    ofType="com.example.jsp.pojo.OrderInfo"/>
    </resultMap>
    <select id="selectById" resultMap="orderMap" parameterType="integer">
        select *
        from `order`
        where o_id = #{id}
    </select>
    <select id="selectAll" resultMap="orderMap">
        select *
        from `order`
    </select>
    <insert id="save" parameterType="com.example.jsp.pojo.Order" keyColumn="o_id" keyProperty="id" useGeneratedKeys="true">
        insert into `order`(o_msg, o_status, o_d_id, o_g_id, o_s_id, o_a_id, o_time)
        VALUES (#{target.message}, #{target.status}, #{target.deliver.id}, #{target.guest.id}, #{target.store.id},
                #{target.address.id}, #{target.time})
    </insert>
    <delete id="delete" parameterType="integer">
        delete
        from `order`
        where o_id = #{id}
    </delete>
    <update id="update" parameterType="com.example.jsp.pojo.Order">
        update `order`
        set o_a_id=#{target.address.id},
            o_msg=#{target.message},
            o_d_id=#{target.deliver.id},
            o_s_id=#{target.store.id},
            o_status=#{target.status},
            o_g_id=#{target.guest.id},
            o_time=#{target.time}
        where o_id = #{target}
    </update>
    <select id="getId" resultType="integer" parameterType="com.example.jsp.pojo.Order">
        select o_id
        from `order`
        where o_a_id = #{target.address.id}
          and o_msg = #{target.message}
          and o_d_id = #{target.deliver.id}
          and o_status = #{target.status}
          and o_g_id = #{target.guest.id}
          and o_time = #{target.time}
    </select>
</mapper>