<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jsp.dao.ProductDao">
    <cache/>
    <resultMap id="ProductMap" type="com.example.jsp.pojo.Product">
        <id property="id" column="p_id"/>
        <result property="name" column="p_name"/>
        <result property="price" column="p_price" jdbcType="DECIMAL" javaType="Double"/>
        <association property="store" select="com.example.jsp.dao.StoreDao.selectById" column="p_s_id"
                     javaType="com.example.jsp.pojo.Store"/>
    </resultMap>
    <insert id="save" parameterType="com.example.jsp.pojo.Product">
        insert into product(p_name, p_price, p_s_id)
        VALUES (#{target.name}, #{target.price}, #{target.store.id})
    </insert>
    <delete id="delete" parameterType="integer">
        delete
        from product
        where p_id = #{id}
    </delete>
    <select id="selectById" parameterType="integer" resultMap="ProductMap">
        select *
        from product
        where p_id = #{id}
    </select>
    <select id="selectAll" resultMap="ProductMap">
        select *
        from product
    </select>
    <update id="update" parameterType="com.example.jsp.pojo.Product">
        update product
        set p_name=#{target.name},
            p_price=#{target.price},
            p_s_id=#{target.store.id}
        where p_id = #{target.id}
    </update>
    <select id="getId" parameterType="com.example.jsp.pojo.Product" resultType="integer">
        select p_id
        from product
        where p_name = #{target.name}
          and p_price = #{target.price}
          and p_s_id = #{target.store.id}
    </select>
</mapper>