<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jsp.dao.StoreDao">
    <cache/>
    <resultMap id="StoreMap" type="com.example.jsp.pojo.Store">
        <id property="id" column="s_id"/>
        <result property="name" column="s_name"/>
        <result property="telephone" column="s_telephone"/>
        <result property="address" column="s_address"/>
        <association property="user" select="com.example.jsp.dao.UserDao.selectById" column="s_u_id"
                     javaType="com.example.jsp.pojo.User"/>
    </resultMap>
    <select id="selectAll" resultMap="StoreMap">
        select *
        from store
    </select>
    <select id="selectById" parameterType="int" resultMap="StoreMap">
        select *
        from store
        where s_id = #{id}
    </select>
    <insert id="save" parameterType="com.example.jsp.pojo.Store">
        insert into store(s_name, s_address, s_telephone, s_u_id)
        VALUES (#{store.name}, #{store.address}, #{store.telephone}, #{store.user.id})
    </insert>
    <delete id="delete" parameterType="int">
        delete
        from store
        where s_id = #{id}
    </delete>
    <update id="update" parameterType="com.example.jsp.pojo.Store">
        update store
        set s_u_id=#{store.user.id},
            s_name=#{store.name},
            s_telephone=#{store.telephone},
            s_address=#{store.address}
        where s_id = #{store.id}
    </update>
    <select id="getId" parameterType="com.example.jsp.pojo.Store" resultType="integer">
        select s_id
        from store
        where s_telephone = #{store.name}
          and s_address = #{store.address}
          and s_u_id = #{store.user.id}
          and s_name = #{store.name}
    </select>

</mapper>